/* Estilos Globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background-image: url('../images/fundo.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Adiciona uma camada semi-transparente sobre a imagem de fundo */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: -1; /* Coloca a camada atrás do conteúdo */
}

/* Cabeçalho */
header {
    background-color: rgba(137, 43, 226, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
}
header h2 {
    font-weight: 700;
    font-size: 2.2rem;
    margin: 10px 0;
}

/* Estilos Compartilhados para Botões */
.botao {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background-color 0.3s ease;
}
.botao:hover {
    background-color: darkblue;
}/* Botão de Limpar Lista */

.botao-limpar-lista:hover {
    background-color: #cc0000;
}
 
.botao-adicionar {
    display: none; /* Oculta o botão "+" por padrão */
}

/* Formulário de Cadastro */
.lista-cadastro {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin: 10px auto;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
}
.campo-entrada {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline-color: blueviolet;
    font-size: 1rem;
    padding: 10px 20px;
}


.botao-adicionar-produto {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background-color 0.3s ease;
}

.botao-adicionar-produto:hover {
    background-color: darkblue;
}

/* Lista de Produtos */
.lista-produtos {
    
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
}

.lista-produtos-single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    gap: 10px;
}

.lista-produtos-single h3 {
    flex: 1;
    font-weight: 400;
    font-size: 1.3rem;
}

.lista-produtos-single span {
    margin: 0 20px;
    font-weight: 400;
    font-size: 1.3rem;
}

.lista-produtos-single button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.lista-produtos-single button:hover {
    background-color: darkred;
}

.lista-produtos-single button i {
    font-size: 1rem;
}

/* Soma dos Produtos */

.soma-produto {
    background-color: rgba(219, 219, 219, 0.944);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    display: none; /* Inicialmente oculta a soma dos produtos */
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 100px;
}



/* Responsividade */

/* Estilos para telas menores (até 768px) */
@media (max-width: 768px) {
    /* Ajustes no cabeçalho */
    header h2 {
        font-size: 1.8rem;
    }

    /* Ajustes no formulário de cadastro */
    .lista-cadastro {
        position: fixed;
        flex-direction: column;
        max-width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        margin: 0;
        z-index: 1000;
    }

    /* Ajustes nos botões */
    .campo-entrada,
    .botao-adicionar-produto,
    .botao-limpar-lista {
        font-size: 1.1rem;
        padding: 10px 20px;
    }

    /* Ajustes na lista de produtos */
    .lista-produtos {
        max-width: 90%;
    }

    .lista-produtos-single h3 {
        font-size: 1.1rem;
    }

    .lista-produtos-single span {
        margin: 0 5px;
        font-size: 1.1rem;
    }

    .lista-produtos-single button {
        font-size: 0.9rem;
    }

    /* Ajustes na soma dos produtos */
    .soma-produto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    .soma-produto h1 {
        margin-bottom: 8px;
        font-size: 1.5rem;
    }

    /* Botão de adicionar (visível apenas em dispositivos móveis) */
    .botao-adicionar {
        display: flex;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: blueviolet;
        color: white;
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .botao-adicionar:hover {
        background-color: darkblue;
    }
}